.investor-header {
  
  top: 3px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.white-logo {
  height: 15px !important; /* or whatever smaller size looks good */
}

.header-logo {
  height: 40px;
  width: auto;
  transition: transform 0.3s ease;
  
}

.header-logo:hover {
  transform: scale(1.08);
}

/* Animations on show/hide */
.investor-header.hide {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-20px);
}

.investor-header.show {
  opacity: 1;
  transform: translateY(0);
}
