.dashboard-container {
  padding: 20px;
  background: #f8f9fb;
  border-radius: 12px;
}

.investment-header {
  display: flex;
  justify-content: left;
  align-items: center;
}

.eye-icon {
  cursor: pointer;
  font-size: 1.2rem;
}

.investment-values {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  margin-top: 12px;
  margin-bottom: 20px;
  font-size: 1rem;
}

.tab-nav {
  position: relative;
  display: flex;
  gap: 0;
  border-bottom: 2px solid #ddd;
  margin-bottom: 20px;
}

.tab-wrapper {
  width: 120px;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
  position: relative;
}

.tab-item {
  font-size: 1rem;
  color: #555;
}

.tab-wrapper.active .tab-item {
  color: #007bff;
  font-weight: 600;
}

.underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 120px;
  background-color: #007bff;
  transition: transform 0.3s ease;
}




.tab-item.active {
  color: #007bff;
}


.tab-content {
  padding: 10px 0;
}
